body {
    background: #FFF;
    box-sizing: border-box;
    color:#FFF;
}

.container {
    width:auto;
    margin:auto;
    background:#FFF;
}


/* naviagtion bar */
.header {
    
    padding:45px 0 20 px 40px;
    border: 2px solid black;
/*    box-sizing: border-box;*/
}

/* Tabs on navigation bar*/
.menu{
    background:#1a1a1a;
    padding: 20px 20px 20px 20px;
   
}


.menu a {
    color : #FFF;
    text-decoration: none;
    font-size : 25px;
    font-family: "Arial Narrow", "Myriad Pro";
    border-left: 10px;
    border-right: 10px;
    border-bottom: 10px;
    border-top: 10px;
}

.menu a:hover { 
color:#4CAF50;
}

/*Cover pic*/
.cover
{
  width: 100%;
}

.water_img{
  height:500px;
  object-fit: cover;
  position: relative;
  display: inline;
}

.logo_img{
    
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    top: 200px;
    
    
}

@media screen and (max-width: 1200px){
    .logo_img{
    
    position: absolute;
    height: 100px;
    width: 100px;
    bottom: 0;
    top: 200px;
    left: 310px;
    
    
    }
}



/* Footer id  */
#footer { 
    clear: both; 
    width: max-width; 
    margin: 0 auto; 
    padding: 1px; 
    border-top: 1px solid #FFFFFF; 
    background: #FFFFFF;
    color:#1a1a1a;
    font-family: "Lucida Sans Unicode";
    font-size:15px;
    position:fixed;
    bottom:0;
}	

.icons{
    text-align: center;
    float:center;
    position:inherit;
}



/* contact form*/
 #form{
    width: 500px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
    margin: 0 auto; 
    background:rgb(10, 62, 181);
    box-shadow:1px 1px 1px 1px;
    border-radius: 5px;
    position:inherit;
    float:right;
    bottom:0;

  
}

/* use media queries for responsiveness */

@media screen and (max-width: 640px){
    #form{
        width:inherit;
    }
}



 #form input{
    width: 100%;
    border-radius: 5px;
    height: 20px;
    background: #FFF;
}


#form #message{
    width: 100%;
    border-radius: 5px;
    background: #FFF;
}


#form #submit{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: #FFF;
}
